<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Exchange Rates</title>
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/exchange-rates">Exchange Rates</a></li>
        <li><a href="/random-quote">Random Quote</a></li>
    </ul>
</div>
<div class="container">

    <h2>Exchange Rates</h2>
    <ul>
        <% Object.entries(rates).forEach(([currency, rate]) => { %>
            <li><%= currency %>: <%= rate %></li>
        <% }); %>
    </ul>
</div>
<div class="footer">
    Anafin Damir, SE-2211
</div>
</body>
</html>
